
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    scroll-behavior: smooth;
    scroll-behavior: cubic-bezier(0.2, 0, 0.38, 1);
}
a, p{
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
}
body{
    position: relative;
    background-color: #eee;
}
.header{
    min-width: 100%;
    height: 85vh;
    background-image: url('images/car_image1.jpeg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    text-align: center;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header h1{
    font-size: 6rem;
    color: antiquewhite;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 2s;
}
.header p{
    color: antiquewhite;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typewriter 3s steps(40) forwards;
    animation-delay: 4s;
    -webkit-animation: typewriter 3s steps(40) forwards;
}
#nav{
    width: 100%;
    padding: 2rem;
    margin-top: 1rem;
}
#nav a{
    width: fit-content;
    border: 1.5px solid #222;
    color: #222;
    background-color: #eee;
    padding: 1.3rem 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
#nav a:hover{
    background-color: #222;
    color: #eee;
}
main{
    padding: 1.5rem;
    margin-top: 1rem;
    background-image: linear-gradient(to bottom, #eee, white);
}
.main_h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    text-decoration: underline;
    padding: 2rem;
}
.main_p{
    padding: 1rem;
}
.main_h3{
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
.main_cardiv{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.main_cardiv div{
    position: relative;
    width: 25rem;
    height: 46vh;
    margin: 1rem;
    padding: 0;
    border: 1px solid #222;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.main_cardiv div:hover{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}
.main_cardiv div img{
    width: 100%;
    height: 85%;
    object-fit: cover;
}
.main_cardiv div .lead_p{
    position: absolute;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin: .3rem .4rem;
}
.main_cardiv div .car_price{
    padding: .5rem 1rem;
    font-weight: 700;
}
footer{
    background-color: #222;
    padding: 1.5rem;
}
footer p{
    color: #eee;
}
#carForm{
    padding: 1.5rem;
    border: .7px solid #222;
    width: 35vw;
    background-color: white;
}
#carForm input{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    outline: 1px solid #222;
    margin-top: 1rem;
}
#carForm label{
    font-weight: 700;
    font-size: 1.4rem;
}
#carForm input[type="radio"] {
    width: 20px;
    margin-left: 1rem;
    outline: none;
    height: 20px;
    accent-color: #222;
    cursor: pointer;
}
#carForm input[type="checkbox"] {
    width: 20px;
    margin-left: 1rem;
    outline: none;
    height: 20px;
    accent-color: #222;
    cursor: pointer;
}
#carForm button{
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: #222;
    color: #eee;
    border: none;
    cursor: pointer;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}